@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: content-box;

    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

body {
    display: grid;
    grid-template: 1fr 1fr / 1fr 6fr;

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding: 20px;

    background-color: lightgray;
}

#rooms,
#users,
#messaging {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

#rooms {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#users {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#messaging {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}


#rooms-list,
#users-list,
#past-messages {
    flex: 1;

    padding: 10px;

    border: 1px solid black;
    border-radius: 20px;

    background-color: whitesmoke;
}

#rooms-list {
    display: grid;
    overflow-y: auto;

    grid-template: 30px / 1fr 1fr;
    grid-auto-flow: row;

}

#past-messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.past-message {
    display: flex;
    justify-self: flex-end;

    padding: 5px;
    gap: 5px;
}

p.head {
    font-weight: bold;
}

p {
    text-align: center;
}

form {
    margin-top: 10px;
    display: flex;
}

input {
    width: 100%;
}

.error {
    width: 100%;
    padding: 0;

    font-size: 60%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.6em;
}

#leave {
    display: none;
    align-self: center;
    justify-self: center;
    position: absolute;

    height: 90px;
    width: 200px;
    padding: 20px;

    border: 1px solid black;
    border-radius: 15px;

    background-color: white;
}

.container {
    display: flex;
    margin-top: 30px;

    justify-content: center;
    gap: 5px;
}